<div class="body">
  <h1 class="titulo-principal">Analizardor Lexico</h1>
  <div class="container-IDES">
    <div class="container-IDE editor-codigo">
      <ngx-codemirror #codemirror
        [options]="codeMirrorOptions"
        [(ngModel)]="inputCode"
        [autoFocus]="true"
        >
      </ngx-codemirror>
      <span class="material-symbols-rounded button-token" (click)="getCodeEditor()">
        play_arrow
      </span>
    </div>
    <div class="container-IDE">
      <ngx-codemirror #codemirror
        [options]="codeMirrorOptions2"
        [(ngModel)]="outputToken"
        >
      </ngx-codemirror>
    </div>
  </div>
</div>

